[submodule "libtap"]
	path = libtap
	url = https://github.com/ps2dev/libtap
[submodule "zlib"]
	path = zlib/src
	url = https://github.com/madler/zlib
[submodule "libpng"]
	path = libpng/src
	url = https://github.com/glennrp/libpng
[submodule "freetype2/src"]
	path = freetype2/src
	url = https://git.savannah.gnu.org/git/freetype/freetype2
