[submodule "libtap"]
	path = libtap
	url = git://github.com/mlafeldt/libtap.git
[submodule "zlib/src"]
	path = zlib/src
	url = https://github.com/madler/zlib
[submodule "libpng/src"]
	path = libpng/src
	url = https://github.com/glennrp/libpng
	branch = libpng15
