name: CI

on:
  push:
  pull_request:
  repository_dispatch:
    types: [run_build]

jobs:
  build:
    runs-on: ubuntu-latest
    container: ps2dev/ps2sdk:latest
    steps:
    - uses: actions/checkout@v4
    
    - name: Install dependencies
      run: |
        apk add build-base git bash cmake pkgconfig texinfo autoconf automake libtool gettext-dev flex

    - name: Compile project
      run: |
        export GSKIT=$PS2DEV/gsKit
        make -j$(getconf _NPROCESSORS_ONLN)
